{
  "plugins": ["prettier-plugin-tailwindcss"],
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "semi": false,
  "arrowParens": "always",
  "printWidth": 90
}
